*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
app/proguard-rules.pro
app/src/androidTest/java/com/jadyn/ai/medialearn/ExampleInstrumentedTest.kt
app/src/test/java/com/jadyn/ai/medialearn/ExampleUnitTest.kt
gradle/wrapper/gradle-wrapper.jar
gradle/wrapper/gradle-wrapper.properties
mediakit/.cxx/ndk_locator_record.json
mediakit/.cxx/ndkBuild/debug/armeabi-v7a/android_gradle_build.json
mediakit/.cxx/ndkBuild/debug/armeabi-v7a/android_gradle_build_mini.json
mediakit/.cxx/ndkBuild/debug/armeabi-v7a/build_command.txt
mediakit/.cxx/ndkBuild/debug/armeabi-v7a/build_model.json
mediakit/.cxx/ndkBuild/debug/armeabi-v7a/build_output.txt
mediakit/.cxx/ndkBuild/debug/armeabi-v7a/json_generation_record.json
mediakit/.cxx/ndkBuild/debug/x86/android_gradle_build.json
mediakit/.cxx/ndkBuild/debug/x86/android_gradle_build_mini.json
mediakit/.cxx/ndkBuild/debug/x86/build_command.txt
mediakit/.cxx/ndkBuild/debug/x86/build_model.json
mediakit/.cxx/ndkBuild/debug/x86/build_output.txt
mediakit/.cxx/ndkBuild/debug/x86/json_generation_record.json
mediakit/.cxx/ndkBuild/release/armeabi-v7a/android_gradle_build.json
mediakit/.cxx/ndkBuild/release/armeabi-v7a/android_gradle_build_mini.json
mediakit/.cxx/ndkBuild/release/armeabi-v7a/build_command.txt
mediakit/.cxx/ndkBuild/release/armeabi-v7a/build_model.json
mediakit/.cxx/ndkBuild/release/armeabi-v7a/build_output.txt
mediakit/.cxx/ndkBuild/release/armeabi-v7a/json_generation_record.json
mediakit/.cxx/ndkBuild/release/x86/android_gradle_build.json
mediakit/.cxx/ndkBuild/release/x86/android_gradle_build_mini.json
mediakit/.cxx/ndkBuild/release/x86/build_command.txt
mediakit/.cxx/ndkBuild/release/x86/build_model.json
mediakit/.cxx/ndkBuild/release/x86/build_output.txt
mediakit/.cxx/ndkBuild/release/x86/json_generation_record.json
mediakit/src/main/libs/arm64-v8a/libgljni.so
mediakit/src/main/libs/armeabi-v7a/libgljni.so
mediakit/src/main/libs/x86/libgljni.so
mediakit/src/main/libs/x86_64/libgljni.so
mediakit/src/main/obj/local/arm64-v8a/libcpufeatures.a
mediakit/src/main/obj/local/arm64-v8a/libgljni.so
mediakit/src/main/obj/local/arm64-v8a/objs/cpufeatures/cpu-features.o
mediakit/src/main/obj/local/arm64-v8a/objs/cpufeatures/cpu-features.o.d
mediakit/src/main/obj/local/arm64-v8a/objs/gljni/Users/jadynai/DevelopProjectStudy/AndroidStudy/MediaLearn/mediakit/src/main/jni/com_jadyn_mediakit_gl_GLJni.o
mediakit/src/main/obj/local/arm64-v8a/objs/gljni/Users/jadynai/DevelopProjectStudy/AndroidStudy/MediaLearn/mediakit/src/main/jni/com_jadyn_mediakit_gl_GLJni.o.d
mediakit/src/main/obj/local/armeabi-v7a/libcpufeatures.a
mediakit/src/main/obj/local/armeabi-v7a/libgljni.so
mediakit/src/main/obj/local/armeabi-v7a/objs/cpufeatures/cpu-features.o
mediakit/src/main/obj/local/armeabi-v7a/objs/cpufeatures/cpu-features.o.d
mediakit/src/main/obj/local/armeabi-v7a/objs/gljni/Users/jadynai/DevelopProjectStudy/AndroidStudy/MediaLearn/mediakit/src/main/jni/com_jadyn_mediakit_gl_GLJni.o
mediakit/src/main/obj/local/armeabi-v7a/objs/gljni/Users/jadynai/DevelopProjectStudy/AndroidStudy/MediaLearn/mediakit/src/main/jni/com_jadyn_mediakit_gl_GLJni.o.d
mediakit/src/main/obj/local/x86/libcpufeatures.a
mediakit/src/main/obj/local/x86/libgljni.so
mediakit/src/main/obj/local/x86/objs/cpufeatures/cpu-features.o
mediakit/src/main/obj/local/x86/objs/cpufeatures/cpu-features.o.d
mediakit/src/main/obj/local/x86/objs/gljni/Users/jadynai/DevelopProjectStudy/AndroidStudy/MediaLearn/mediakit/src/main/jni/com_jadyn_mediakit_gl_GLJni.o
mediakit/src/main/obj/local/x86/objs/gljni/Users/jadynai/DevelopProjectStudy/AndroidStudy/MediaLearn/mediakit/src/main/jni/com_jadyn_mediakit_gl_GLJni.o.d
mediakit/src/main/obj/local/x86_64/libcpufeatures.a
mediakit/src/main/obj/local/x86_64/libgljni.so
mediakit/src/main/obj/local/x86_64/objs/cpufeatures/cpu-features.o
mediakit/src/main/obj/local/x86_64/objs/cpufeatures/cpu-features.o.d
mediakit/src/main/obj/local/x86_64/objs/gljni/Users/jadynai/DevelopProjectStudy/AndroidStudy/MediaLearn/mediakit/src/main/jni/com_jadyn_mediakit_gl_GLJni.o
mediakit/src/main/obj/local/x86_64/objs/gljni/Users/jadynai/DevelopProjectStudy/AndroidStudy/MediaLearn/mediakit/src/main/jni/com_jadyn_mediakit_gl_GLJni.o.d
settings.gradle
